version: '3'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: uttarganga-admin
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
